<html>
  <head>
    <meta charset="UTF-8" />
    <title>fiche contact</title>
 </head>  
<body>
    <h2>Ma fiche contact</h2>
  <form action="/submit" method="post">
    <label for="nom">Nom : </label>
    <input type="text" id="nom" name="nom" placeholder="Entrez votre nom" required><br><br>

    <label for="prénom">Prénom : </label>
    <input type="text" id="prénom" name="prénom" placeholder="Entrez votre prénom" required><br><br>

    <label for="message">Méssage : </label>
    <textarea type="text" id="message" name="message" placeholder="Entrez votre message" required></textarea>

    <button type="submit">Envoyer</button>
</body>
</html>

