<html>
  <head>
    <meta charset="UTF-8" />
    <title>fiche contact</title>
 </head>  
<body>
    <h2>Ma fiche contact</h2>
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Nom</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre nom">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Prenom</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Entrez votre prénom">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword2">Message</label>
    <input type="password2" class="form-control" id="exampleInputPassword2" placeholder="Entrez votre message">
  </div>
  <button type="submit" class="btn btn-primary">Entree</button>
</form>
</body>
</html>

